* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    min-height: 100%;
    display: flex;
	flex-direction: column
}

header{
    width: 100%;
    height: 67px;
}

#logo{
    height: 67px;
    margin-left: 5%;
    position: absolute;
}

.menu{
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 20px;
    float: right;
    margin-right: 5%;
}

li{
    float: left;
    padding: 20px 10px 20px 10px;
}

li:hover {
    background: black;
    color: white;
}

#fundo {
    background-image: url("img/fundo.jpg");
    padding-top: 0;
    height: 800px;
    width: 100%;
    text-align: center;
    background-size: cover;
}

h1{
    font-weight: 100%;
    padding-top: 20px;
    color: white;
}

h2{
    color: white;
    font-weight: 100%;
    padding-top: 30px;
}

h3{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}

.formatação{
    font-size: 20px;
    text-align: justify;
    padding: 0px 50px 0px 50px;
}

#imagens{
    margin-top: 30px;
    float: left;
    padding-right: 50px;
}

.formatação_imagens{
    float: right;
    margin: 20px;
    margin-right: 10px;
    width: 30%;
}

#porque{
    background: #A4A4A4;
}

#conteiner{
    display: flex;
}

#sobre{
    font-size: 20px;
    text-align: justify;
    padding: 0px 50px 0px 50px;
}

#eu{
    width: 100px;
    margin-right: 50px;
}

footer{
    background-color: #D8D8D8;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    height: 100px; 
}

h4{
    padding-top: 10px;
    padding-bottom: 10px;
}


